.header-bg {
  height: auto;
  background-image: url("../../images/Blur.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
}
.header-height {
  height: auto;
}
.dots {
  padding: 13px 13px;
}
.header-text {
  font-weight: 700;
  font-size: 47px;
  line-height: 48px;
  color: #ffffff;
}
.header-text-style {
  font-size: 31px;
  font-weight: bold;
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.747);
}
.justifyText {
  text-align: justify;
}
.glass-bg {
  height: auto;
  color: white;
  background-image: url("../../images/Glass.png");
  background-repeat: no-repeat;
  background-position: contain;
}
.m-bottom {
  margin-bottom: 70px;
}
.count {
  font-weight: 700;
  font-size: 41px;
  line-height: 50px;
  color: #ffffff;
  text-shadow: 0px 4px 37px rgba(255, 255, 255, 0.25);
}
.service {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #f3f3f3;
}
.countMarginTop {
  margin-top: 35px;
}
.count-position {
  position: relative;
  top: 30px;
  left: 20px;
}
