.defi {
  font-weight: 600;
  font-size: 29px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #ff6392;
}
.description {
  font-weight: 500;
  font-size: 30px;
  line-height: 46px;
  color: rgba(255, 255, 255, 0.69);
}
.defi-height{
  height: auto;
}